<div class="container card card-ex">
    <div class="row">
      <div class="col-md-6">
        <h5 translate>Companyprofile</h5>
        <br/>
        <form #p="ngForm" (submit)="form_submit(p)">
          <div class="form-group">
            <label for="nome" translate>CompName</label>
            <input type="text" class="form-control" id="nome" placeholder="{{'CompName' | translate}}" ngModel name="nome">
          </div>
          <div class="form-group">
            <label for="categoria" translate>Category</label>
            <select type="text" class="form-control" id="categoria" ngModel name="categoria">
              <option value="" translate>CatSelec</option>
              <option value="Salão de beleza" translate>Salon</option>
              <option value="Clínica de estética" translate>Clinic</option>
              <option value="Barbearia" translate>Barber</option>
            </select>
          </div>
          <div class="form-group">
            <label for="endereco" translate>Address</label>
            <input type="text" class="form-control" id="endereco" placeholder="{{'AddressP' | translate}}" ngModel name="endereco">
          </div>
          <div class="row col-md-12">
            <div class="form-group">
              <label for="latitude" translate>Latitude</label>
              <input type="text" class="form-control" id="latitude" placeholder="{{'Latitude' | translate}}" ngModel name="latitude">
            </div>
            <div class="col-md-1"></div>
            <div class="form-group">
              <label for="longitude" translate>Longitude</label>
              <input type="text" class="form-control" id="longitude" placeholder="{{'Longitude' | translate}}" ngModel name="longitude">
            </div>
          </div> 
          <div class="form-group">
            <label translate>SelLogo</label> 
            <input class="form-control" required accept=".jpg, .png, .gif" id="file" name="file" type="file" />
          </div> 
          <div class="form-group">
            <label for="descricao" translate>AboutComp</label>
            <textarea class="form-control" id="descricao" placeholder="{{'AboutCompP' | translate}}" ngModel name="descricao"></textarea>
          </div>
          <button class="btn btn-success" type="submit" translate>btnRegister</button>
        </form>
      </div>      
      <div class="col-md-6">
          <h5 translate>Companydetails</h5>
          <br/>
          <div class="card" style="margin-bottom: 15px;" *ngFor="let p of perfil | async">
            <div class="card-block">
              <div class="row">
                <div class="col-md-9">
                  <h5 class="card-title">{{p.nome}}</h5>
                  <p><span translate>Category</span>: {{p.categoria}}</p>
                  <p><span translate>Address</span>: {{p.endereco}}</p>
                  <p><span translate>Latitude</span>: {{p.latitude}}</p>
                  <p><span translate>Longitude</span>: {{p.longitude}}</p>
                  <p><span translate>About</span>: {{p.descricao}}</p>
                </div>
                <div class="col-md-1">
                  <img class="logo" src= '{{ p.file }}'/>
                </div>
              </div>
              
              <div class="text-center">
                <!-- <button class="btn btn-warning right-side" (click)="updatePerfil()">Editar</button> -->
                <button class="btn btn-danger right-side" (click)="deletePerfil()" translate>Delete</button>
              </div> 
            </div>
          </div>
      </div>
    </div>  
</div>

