<header id="topnav">
  <div class="topbar-main">
    <div [dir]="textDir" class="navbar-brand" *ngFor="let p of perfil | async">
      <img class="logo" src= '{{ p.file }}'/>
    </div>
    <div class="navbar-name" *ngFor="let p of perfil | async">
      <h5>{{ p.nome }}</h5>
    </div>
  </div>
  <div class="navbar navbar-toggleable-md navbar-inverse bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
      aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <!-- <div class="container"> -->
      <div class="collapse navbar-collapse" id="navbarResponsive">
        
          <ul class="navbar-nav" *ngFor="let p of perfil | async">
            <li class="nav-item" *ngIf="p.role == 'business'">
              <a [routerLink]="['/agenda']" class="nav-link" translate>Agenda</a>
            </li>
            <li class="nav-item" *ngIf="p.role == 'admin'">
              <a [routerLink]="['/admin']" class="nav-link" translate>Admin</a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['/perfil']" class="nav-link" translate>Profile</a>
            </li>
            <li class="nav-item" *ngIf="p.role == 'business'">
              <a [routerLink]="['/profissionais']" class="nav-link" translate>Professionals</a>
            </li>
            <li class="nav-item" *ngIf="p.role == 'business'">
              <a [routerLink]="['/servicos']" class="nav-link" translate>Services</a>
            </li>
            <li class="nav-item" *ngIf="p.role == 'business'">
              <a [routerLink]="['/dashboard']" class="nav-link" translate>Dashboard</a>
            </li>
          </ul>
          <div class="navbar-header" *ngFor="let p of perfil | async"> 
            <button *ngIf="p.role == 'admin'" class="btn btn-stylish" [routerLink]="['/signup']" translate>Newbusiness</button>
          </div>
        <ul class="navbar-nav ml-auto"> 
          <li class="nav-item">
            <a href="#" (click)="form_logout()" class="nav-link" translate>Signout</a>
          </li>
        </ul>
      </div>
    <!-- </div> -->
  </div>
</header>
<router-outlet></router-outlet>