<div class="container card-ex">
  <div class="row">
      <div class="col-md-5">
        <div class="card">
          <div class="card-header text-white bg-info mb-3">
              <h5>Business List</h5>    
          </div>
            <div class="card-body">
              <ul class="list-group">
                <li class="list-group-item" *ngFor="let p of empresa">
                    <div class="checkbox col-md-6 col-6">
                        <label for="checkbox">
                            {{p.nome}}
                        </label>
                    </div>
                    <div class="col-md-6 col-6">
                        <button class="btn btn-danger float-right" title="Block it"><i class="fa fa-lock"></i></button>
                        <button class="btn btn-info" title="More Info"
                                [class.selected]="p === selectedP"
                                (click)="onSelect(p)"><i class="fa fa-info-circle"></i></button>
                    </div>
                </li>
              </ul>
            </div>
            <div class="card-footer">
              <div class="row">
                  <div class="col-md-12">
                      <button class="btn btn-warning" (click)="prevPage()" [disabled]="!prevKeys?.length"><i class="fa fa-angle-double-left"></i> Prev</button>
                      <button class="btn btn-success float-right" (click)="nextPage()" [disabled]="!nextKey">Next <i class="fa fa-angle-double-right"></i></button>
                  </div>
              </div>
          </div> 
        </div>
      </div>
      <div class="col-md-7">
        <div *ngIf="selectedP">
            <h5>{{ selectedP.nome }}</h5>
            <div class="idKey">{{selectedP.$key}}</div>
            <div><span>Address: </span>{{selectedP.endereco}}</div>
            <div class="linediv"></div>
            <div class="row">
                <div class="col-md-6">
                    <div class="mini-stat clearfix bg-info">
                        <span class="mini-stat-icon bg-light"><i class="fa fa-cart-plus text-info"></i></span>
                        <div class="mini-stat-info text-right text-white">
                            <span class="counter text-white">20544</span>
                            Total Sales
                        </div>
                        <p class="mb-0 m-t-20 text-white">Total income: $22506 <span class="pull-right"><i class="fa fa-caret-up m-r-5"></i>10.25%</span></p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mini-stat clearfix bg-success">
                        <span class="mini-stat-icon bg-light"><i class="fa fa-dollar text-success"></i></span>
                        <div class="mini-stat-info text-right text-white">
                            <span class="counter text-white">956</span>
                            New Orders
                        </div>
                        <p class="mb-0 m-t-20 text-white">Total income: $22506 <span class="pull-right"><i class="fa fa-caret-up m-r-5"></i>10.25%</span></p>
                    </div>
                </div>
            </div>
            <div class="linediv"></div>
            <h4 class="mt-0 header-title">Revenue</h4>
            <div style="height: 380px">
                <canvas
                    baseChart
                    [chartType]="'bar'"
                    [datasets]="chartData1"
                    [labels]="labels1"
                    [options]="chartOptions"
                    [legend]="true"
                    [colors]="colors1"
                    (chartClick)="onChartClick($event)">
                </canvas>
          </div>
      </div>
  </div>
</div>
