<div class="container card-ex">
  <div class="row">
      <div class="col-md-5">
        <div class="card">
          <div class="card-header text-white bg-primary mb-3">
              <h5>Business List</h5>    
          </div>
            <div class="card-body">
              <ul class="list-group">
                <li class="list-group-item" *ngFor="let p of empresa">
                    <div class="checkbox col-md-6 col-6">
                        <label for="checkbox">
                            {{p.nome}}
                        </label>
                    </div>
                    <div class="col-md-6 col-6">
                        <button class="btn btn-danger float-right" title="Block it"><i class="fa fa-lock"></i></button>
                        <button class="btn btn-info" title="More Info"><i class="fa fa-info-circle"></i></button>
                    </div>
                </li>
              </ul>
            </div>
            <div class="card-footer">
              <div class="row">
                  <div class="col-md-12">
                      <button class="btn btn-warning" (click)="prevPage()" [disabled]="!prevKeys?.length"><i class="fa fa-angle-double-left"></i> Prev</button>
                      <button class="btn btn-success float-right" (click)="nextPage()" [disabled]="!nextKey">Next <i class="fa fa-angle-double-right"></i></button>
                  </div>
              </div>
          </div> 
        </div>
      </div>
  </div>
</div>
