<div class="container col-md-10 col-sm-12 card card-ex">
        <div class="col-sm-12 row">
            <div class="col-sm-3">
                <div class="card">
                  <div class="card-header text-white text-center bg-primary mb-3">
                      <h5>Profissionais</h5>    
                  </div>
                    <div class="card-body">
                      <ul class="list-group">
                        <li *ngFor="let p of profissionais | async"
                            [class.selected]="p === selectedP"
                            (click)="onSelect(p)">
                            <div><img src="{{p.file}}" class="rounded-circle line-content" width="32" height="32">{{p.nome}}</div>
                          </li>
                      </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-9">
                <div *ngIf="selectedP">
                  <div><angular2-fullcalendar [options]="calendarOptions" (initialized)="onCalendarInit($event)"></angular2-fullcalendar></div>
                </div>
            </div>
        </div>
    </div>