.card-body { padding:0px; }
.list-group { 
  margin-bottom:0px;
  list-style-type: none;
 }
.selected {
  background-color: rgb(96, 129, 143) !important;
  color: white;
}
.list-group li {
  cursor: pointer;
  left: 0;
  background-color: #FFF;
  margin: .1em;
  padding: 10px;
  border-radius: 4px;
}

.list-group li.selected:hover {
  background-color: rgb(119, 154, 168) !important;
  color: white;
}

.list-group li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.line-content{
  margin-right: 8px;
  border: 1px solid #CCC;
}
