.logo{
    height: 80px;
    background: url("../../../imgs/logo.png");
    background-repeat: no-repeat;
    background-size: 80px 80px;
    background-position: center;
}

.title-login{
    font-size: 18px;
    font-weight: 700;
    color: #707070;
    text-align: center;
    line-height: 30px;
    margin: 30px;
}
