<div class="accountbg"></div>
<div class="container">
    <div class="row justify-content-md-center align-items-center">
      <div class="col-md-4">
        <div class="card card-ex text-xs-center">
          <div class="card-block">
            <div class="logo"></div>
            <div class="title-login">Sign In</div>
            <form #f="ngForm" (submit)="form_login(f)">
              <fieldset>
                <div class="form-group">
                  <input class="form-control" ngModel type="text" placeholder="Email" name="email" maxlength="60" required>
                </div>
                <div class="form-group">
                  <input class="form-control" name="password" ngModel type="password" placeholder="Password" required minlength="6" maxlength="30">
                </div>
                <button type="submit" class="btn btn-stylish btn-block">Sign In</button>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
