.right-side{
    float: right;
    margin: 0 2px 0 2px;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

.card-title {
    margin-bottom: 0;
}

.frame{
    padding:0;
}

img {
    max-width: 100%;
}