@import "../node_modules/bootstrap/scss/bootstrap";
@import 'variables';
@import 'bootswatch';
@import "../node_modules/fullcalendar/dist/fullcalendar.min.css";

body{
    padding-top: 70px;
    background:#eff3f6;
}

.bg-dark{
    background-color: #000000;
}

.card-outline-dark{
    border: 1px #000 solid;
}

$btn-stylish-color:              $white !default;
$btn-stylish-bg:                 #E91E63;
$btn-stylish-border:             $btn-danger-bg;

.btn-stylish{
    @include button-variant($btn-stylish-color, $btn-stylish-bg, $btn-stylish-border);
}

.container{
    top: 60px;
}

.card-ex {
    border: none;
    box-shadow: 1px 0 20px rgba(0,0,0,.05);
    padding: 30px;
}

.accountbg {
    background: url(imgs/shutterstock_138316877.jpg);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background-size: cover;
}
